#filter_block {
	margin-bottom: 10px;
}

#form_block {
	margin-bottom: 30px;
}

#users_table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid black;	
}

#users_table td {
	border: 1px solid black;
}

